* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2539ee;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

form {
    margin-top: 10px;
}

.input {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-left: 10px;
}

button {
    padding: 10px 20px;
    background-color: #2539ee;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

.book_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.book_item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(205, 79, 79, 0.3);
}

.action {
    margin-top: 10px;
}

.green {
    background-color: #4CAF50;
    color: #fff;
}

.red {
    background-color: #d82800;
    color: #fff;
}